// body{
//     overflow-y: hidden;
//     overflow-x: hidden;
// }
// ::-webkit-scrollbar{
//     display: none;
// }
* {
    list-style-type: none;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    user-select: none;
    -webkit-user-drag: none;
    text-decoration: none;
    color: black;
}